* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #111;
  }
  
  #canvas {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    margin-left: 10px;
    margin-right: 10px;
  }

  footer {
    background-color: #0e0e0e;
    color: #fff;
    padding: 20px 0;
  }

  /* Header styles */
  header {
    background-image: url('https://i.pinimg.com/564x/93/ff/42/93ff42c9e3c0ae1dbc939c77fca8f109.jpg');
    color: #fff;
    padding: 20px; 
    text-align: right;
  }

  a {
      color: #BD293E;
  }

  h1 {
    text-align: center;
    margin: 0;
    font-family: Georgia;
  }

  p {
      padding: 20px;
  }

  @font-face { 
    font-family: 'Rostov'; 
    src: url('fonts/rostov.ttf'); 
  }

  /* Main content styles */

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(''); /* Image URL will be set dynamically using JavaScript */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Стилизация полосы прокрутки */
  ::-webkit-scrollbar {
    width: 10px; /* Ширина скроллбара */
  }

  /* Фон скроллбара */
  ::-webkit-scrollbar-track {
    background-color: #000000;
  }

  /* Цвет полоски прокрутки */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  /* При наведении на скроллбар */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .cont {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }

  .content {
    text-align: center;
    color: #fff;
    max-width: 600px;
    padding: 12px;
  }

  /* Button styles */
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2E6CA3;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #ddd;
  }

  #glowing-text {
    color: #fff;
    font-size: 48px;
    transition: text-shadow 0.3s ease-in-out;
  }

  .glow {
    text-shadow: 0 0 10px #c53f3f7e, 0 0 20px #c53f3f7e, 0 0 30px #c53f3f7e, 0 0 40px #c53f3f7e, 0 0 50px #c53f3f7e;
  }

  #logo {
    position: absolute;
    top: 10px;
    left: 4px;
  }
  
  #logo img {
    width: 70px; /* Здесь можно задать нужные размеры для вашего логотипа */
  }
  