* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #111;
  }

  /* Header styles */
  header {
    /*background-color: #333;*/
    background-image: url('https://i.pinimg.com/564x/93/ff/42/93ff42c9e3c0ae1dbc939c77fca8f109.jpg');
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  a {
      color: #BD293E;
  }

  h1 {
    margin: 0;
  }

  p {
      padding: 20px;
  }

  /* Main content styles */

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(''); /* Image URL will be set dynamically using JavaScript */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .content {
    text-align: center;
    color: #fff;
    max-width: 600px;
    padding: 12px;
  }

  /* Button styles */
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2E6CA3;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #ddd;
  }